<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= locals.title %>
    </title>
    <script src="https://use.fontawesome.com/28644979d1.js"></script>
    <!-- our css links should be at the bottom so that our css can override -->
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <h1 id="page-heading">
    <i class="fa fa-paperclip"></i>
        My Contact List
    </h1>
    <!-- <div>
        <ul>
            <% for(let i of contact_list) { %>
                <li>
                    <div class="contact-container">
                    <p>
                        <%= i.name %>
                    </p>
                    <p>
                        <%= i.phone %>
                    </p>
                    
                    <div class="delete-button">
                        
                        <a href="/delete-contact/?phone=<%= i.phone %>">
                            <i class="fa fa-window-close"></i>
                        </a>
                    </div>
                    </div>
                    
                </li>
            <%}%>
        </ul>
    </div> -->

    <div id="contacts-list-container">
        <ul>
            <% for(let i of contact_list) { %>
                <li class="contact">
                    <div class="details">
                        <p>
                            <%= i.name %>
                        </p>
                        <p>
                            <%= i.phone %>
                        </p>
                    </div>
                    <div class="delete-button">
                        <a href="/delete-contact/?phone=<%= i.phone %>">
                            <i class="fa fa-window-close"></i>
                        </a>
                    </div>
                </li>  
                <%}%>
        </ul>
    </div>

    <div class="form-container">
    <form action="/create-contact" method="POST">
        <input type="text" name="name" placeholder="Enter Name" required>
        <input type="number" name="phone" placeholder="Enter Phone" required>
        <button type="submit">ADD</button>

    </form>
    </div>
    <script src="/js/home.js" type="text/javascript"></script>
</body>
</html>